<!DOCTYPE html>
<html>
	<head>
		<title>Twitch Web</title>
		<style type="text/css">
			body {
				margin : 0;
				padding : 0;
				border : 0;
				width : 100%;
				height : 100%;
			}

			.auto-resizable-iframe {
			  max-width: 100%;
			  margin: 0px auto;
			}
			
			.auto-resizable-iframe iframe {
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  width: 100%;
			  height: 100%;
			}
	  </style>
	</head>

	<body>

	<!-- https://dev.twitch.tv/docs/embed -->	

    
	<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
	<div class="auto-resizable-iframe" id="twitch_div" ></div>
	<script type="text/javascript">

		var options = { autoplay : false };
		var player;
		var PlayerState;

		function LoadVideoByID(twitchID, autoplay)
		{	
			if (autoplay == 'True') options.autoplay = true;

			player = new Twitch.Player("twitch_div", options);	
			player.setChannel(twitchID);
			player.setVolume(0.5);
			player.setQuality("chunked");
			
			player.addEventListener(Twitch.Player.ENDED, function(e) {
				PlayerState = Twitch.Player.ENDED;
			});
			
			player.addEventListener(Twitch.Player.PAUSE, function(e) {
				PlayerState = Twitch.Player.PAUSE;
			});
			
			player.addEventListener(Twitch.Player.PLAY, function(e) {
				PlayerState = Twitch.Player.PLAY;
				console.log(IsPlaying());
			});
			
			player.addEventListener(Twitch.Player.OFFLINE, function(e) {
				PlayerState = Twitch.Player.OFFLINE;
			});
			
			player.addEventListener(Twitch.Player.ONLINE, function(e) {
				PlayerState = Twitch.Player.ONLINE;
			});
			
			player.addEventListener(Twitch.Player.READY, function(e) {
				PlayerState = Twitch.Player.READY;
			});
			
			console.log(IsPlaying());
		}

		function StopVideo()
		{
			player.pause();
		}
		
		function IsPlaying()
		{
			if (PlayerState)
			{
				if (PlayerState == Twitch.Player.PLAY)
					return 'True';
				else
					return 'False';
			}
			else
				return 'null';
		}

		///////////
		///TEST
		///////////
		LoadVideoByID("trackingthepros", 'False');

	</script>

	</body>
</html>