<!DOCTYPE html>
<html>
	<head>
		<title>Twitch Web</title>
		<style type="text/css">
			body {
				margin : 0;
				padding : 0;
				border : 0;
				width : 100%;
				height : 100%;
			}

			.auto-resizable-iframe {
			  max-width: 100%;
			  margin: 0px auto;
			}
			
			.auto-resizable-iframe iframe {
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  width: 100%;
			  height: 100%;
			}
	  </style>
	</head>

	<body>

	<!-- https://dev.twitch.tv/docs/embed#embedding-video-and-clips -->	

    <div class="auto-resizable-iframe">
    	<iframe id="frame" frameborder="0" scrolling="no" src="http://player.twitch.tv/" allowfullscreen>
		</iframe>
    </div>

	<script type="text/javascript">
		function LoadVideoByID(twitchID)
		{
			var frame = document.getElementById('frame'); 
			frame.src += '?channel=' + twitchID + '&autoplay=false';
			console.log(frame.src);
		}
	</script>

	</body>
</html>