<!DOCTYPE html>
<html>
	<head>
		<title>Youtube Web</title>
		<style type="text/css">
			body {
				margin : 0;
				padding : 0;
				border : 0;
				width : 100%;
				height : 100%;
			}

			.auto-resizable-iframe {
			  max-width: 100%;
			  margin: 0px auto;
			}
			
			.auto-resizable-iframe iframe {
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  width: 100%;
			  height: 100%;
			}
	  </style>

	</head>

	<body>

	<!-- https://developers.google.com/youtube/iframe_api_reference -->

    <div class="auto-resizable-iframe" id="player"></div>

    <script type="text/javascript">

		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
      	//    after the API code downloads.

		var player;
		var options = { 
			videoId: '',
		};

		document.getElementById('player').setAttribute("style", "position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;");

		function onYouTubeIframeAPIReady() {

			//LoadVideo('TCUt35GANpE');
      	}

      	function LoadVideo(videoID)
      	{
      		options.videoId = videoID;
      		player = new YT.Player('player', options);
      	}

	</script>

	</body>
</html>