<!DOCTYPE html>
<html>
	<head>
		<title>Youtube Web</title>
		<style type="text/css">
			body {
				margin : 0;
				padding : 0;
				border : 0;
				width : 100%;
				height : 100%;
			}

			.auto-resizable-iframe {
			  max-width: 100%;
			  margin: 0px auto;
			}
			
			.auto-resizable-iframe iframe {
			  position: absolute;
			  top: 0px;
			  left: 0px;
			  width: 100%;
			  height: 100%;
			}
	  </style>

	</head>

	<body>

	<!-- https://developers.google.com/youtube/iframe_api_reference -->

    <div class="auto-resizable-iframe" id="youtube_div"></div>

    <script type="text/javascript">

		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		var options = { 
			events: {
				'onError': onPlayerError
			}
		};

		document.getElementById('youtube_div').setAttribute("style", "position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;");

		var event = new Event('build');

		var ready = false;

		function onYouTubeIframeAPIReady() {

			ready = true;

			document.getElementById('youtube_div').dispatchEvent(event);
      	}

      	function Init(videoID)
      	{
      		options.videoId = videoID;
			player = new YT.Player('youtube_div', options);
      	}

      	function onPlayerError(event)
      	{
      		var err = event.data.toString();
      		//通知UWP這裡有錯誤發生
      		window.external.notify(err);
      	}

      	function LoadVideoByID(videoID)
      	{
      		if (ready)
      		{
				Init(videoID);
      		}
      		else
      		{
      			document.getElementById('youtube_div').addEventListener('build', function (e) {
					Init(videoID);
      			}, false);
      		}
      	}

      	function StopVideo()
      	{
			player.stopVideo();
      	}

	</script>

	</body>
</html>